header{
    padding-top: 37px;
    padding-bottom:27px;
    }
    
    
    header>div{
        width: 1202px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header>div>nav>ul{
        display: flex;
        justify-content: space-between;
    }
    
    header>div>nav>ul>li{
        margin-left: 31px;
    }
    
    header>div>nav>ul>li:nth-child(6)>a{
        color: #fee273;
    }
    
    header>div>nav>ul>li>a{
        color:black;
    }
    